*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#form1 {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-dang-nhap, .form-dang-ky {
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align:left;
    margin: 10px 0;
    font-weight: bold;
}

#LoiRongTxtTenDangNhap,
#LoiRongTxtMatKhau,
#LoiLapLaiTxtMatKhau,
#LoiSaiMST,
#LoiRongMST {
    display: none;
    font-weight: normal;
    color: red;
    margin: 0px;
}

#LoiSaiTaiKhoan {
    display: block;
    font-weight: normal;
    color: red;
    margin: 0px;
}
input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }

p {
    margin-top: 15px;
}

a {
    color: #3498db;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }
